:root {
    --verdeAgua: #0c7968;
    --naranja: rgb(227, 142, 21);
    --amarilloFuerte: #fab701;
    --blancoCalido: #f1f1f1;
    --amarilloClarito: #ffcc3b;
}

.titulo
{
    background: none;
    font-weight: bold;
    font-size: 150%;
    padding: 0px;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
}

body {
    background: linear-gradient(rgba(227, 142, 21, 0.7)), url("../img/catamarcaNoche.jpg") top center/cover no-repeat;
}

.cosas_dentro_main {
    background: none;
    box-shadow: none;
}

#formularioAgregar {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, background 0.3s ease, color 0.3s ease;

}

form {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#formularioAgregar fieldset {
    background: var(--amarilloFuerte);
    background: rgba(255, 204, 59, 0.6);
    border-radius: 12px;
    padding: 30px 20px;
    width: 90%;
    margin: 0px auto;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
}



form select{
    width: 100%;
    padding: 14px 10px 6px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-color: white;
    overflow: hidden;
}

#botones-formularios {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/*
#botones-formularios button {
    width: 100%;
    padding: 10px;
    background-color: var(--amarilloClarito);
    border: none;
    border-radius: 12px;
    color: black;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.2s;

    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

#botones-formularios button:active {
    transform: scale(0.98);
}


#boton-cancelar:hover {
    background-color: var(--naranja);
    transform: scale(1.02);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}


#boton-aceptar:hover {
    background-color: #a4bc00;
    transform: scale(1.02);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}



#boton-atras:hover {
    background-color: var(--verdeAgua);
    transform: scale(1.02);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

*/
/*inputs y select normales*/
.contenedorLabelInput {
    position: relative;
    margin-top: 25px;
}

.inputLabel {
    width: 100%;
    padding: 14px 10px 6px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-color: white;
}

.campoLabel {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #999;
    pointer-events: none;
    transition: all 0.2s ease;
}

.inputLabel:focus+.campoLabel,
.inputLabel:valid+.campoLabel{
    top: 1px;
    font-size: 12px;
    color: var(--verdeAgua);
    background-color: white; /* Opcional: para "cortar" la línea del input */
}

.inputLabel:focus {
    outline: none;
    border-color: var(--verdeAgua);
}


/*inputs checbox que dolor de cabeza esto*/

.acordeonGrupo {
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
}


.acordeonInput {
    /* Lo ocultamos por completo */
    position: absolute;
    opacity: 0;
    z-index: -1;
}


.acordeonLabel {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    font-size: 15.5px;
    background: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: #999;

}

.acordeonLabel:hover {
    background-color: #f1f1f1;
}


.acordeonFlecha {
    font-size: 12px;
    transition: transform 0.3s ease;
}


.acordeonContenido {

    max-height: 0;
    overflow: hidden;
    overflow-y: auto;

    padding: 0 20px;
    background: #fff;

    /* La animación de despliegue */
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.checkboxItem {
    display: block;
    /* Uno por línea */
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.checkboxItem:last-child {
    border-bottom: none;
}

.checkboxItem label {
    margin-left: 8px;
}



/* 1. Giramos la flecha */
.acordeonInput:checked+.acordeonLabel .acordeonFlecha {
    transform: rotate(180deg);
}

/* 2. Mostramos el contenido */
.acordeonInput:checked~.acordeonContenido {
    /* Un valor alto para asegurar que quepa todo */
    max-height: 500px;

    padding: 15px 20px;
}

/*agregado de emir*/

#agregarRecorrido {
    background: none;
    font-weight: bold;
    font-size: 150%;
    padding: 0px;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
}


select option:disabled {
    background-color: #ffcccc;
    color: #a70000;
    font-weight: bold;
}


input[type="time"]:invalid {
    color: transparent;
}


input[type="time"]:valid {
    color: #000; 
}

input[type="date"]:invalid {
    color: transparent;
}


input[type="date"]:valid {
    color: #000; 
}

.contenedor-imagen-con-fondo {
    background-color: white; 
    border-radius: 15px;    
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2); 
    padding: 15px;          
    width: 70%;             
    margin-top: 20px;       
    margin-bottom: 20px;     
    
    display: flex;           
    flex-direction: column;  
    align-items: center;     
}

.contenedor-imagen-con-fondo img {
    max-width: 100%;      
    height: auto;
    border-radius: 10px;   
    margin-bottom: 10px;   
    display: block;       
}

.contenedor-imagen-con-fondo .pie-de-foto {
    font-size: 1em;         
    color: var(--verdeAgua); 
    font-weight: bold;       
    text-align: center;     
    margin: 0;             
    padding: 5px 10px;      

}
#modo-modificar
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnModificarP
{
    border-top: none;
    border-right: none;
    border-left: none;
}






