{%extends 'base.html'%}
{%load static%}

{%block title%}
    Notificaciones Crear - CityTur Catamarca
{%endblock%}

{%block head_css%}
    <link rel="stylesheet" href="{% static 'css/puntoTuristico.css' %}" />
  <link rel="stylesheet" href="{% static 'css/formularioAgregarRecorrido.css' %}" />
  <link rel="stylesheet" href="{% static 'css/vistaPuntoTuristico.css' %}" />
{%endblock%}

{%block content%}
<main>
    <div id="" class="cosas_dentro_main">
      <div id="formularioAgregar">
        
        <form method="POST">
          <fieldset>
            
            {% csrf_token %}

            <label id="agregarRecorrido"><strong>Crear Notificaciones</strong></label>


            <div class="contenedorLabelInput">
              {{ notificaciones.titulo.errors }}
              {{ notificaciones.titulo }}
              <label for="{{ notificaciones.titulo.id_for_label }}" class="campoLabel">{{ notificaciones.titulo.label }}</label>
            </div>

            <div class="contenedorLabelInput">
              {{ notificaciones.descripcion.errors }}
              {{ notificaciones.descripcion }}
              <label for="{{ notificaciones.descripcion.id_for_label }}" class="campoLabel">{{ notificaciones.descripcion.label }}</label>
            </div>

            <br />

            <div id="botones-formularios">
              <button type="submit" id="boton-aceptar" class="btnP btnModificarP">Aceptar</button>
              <a class="btnP btnEliminarP" href="{% url 'administracion:listaPuntosTuristicos' %}">Cancelar</a>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </main>

{%endblock%}

{%block js%}

{%endblock%}