{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="authores" content="erick:1744-emir:1723-alejo:1713, initial-scale=1.0" />

    <title>
      {% block title %}
        CityTur Catamarca
      {% endblock %}
    </title>

    <link rel="icon" href="{% static 'img/Logo City Tour.png' %}" type="image/x-icon" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    {% block head_css %}

    {% endblock %}
    
  </head>

  <body>

    <header class="jc-between displayflex headerbloqueado">
    <div id="divBacio"></div>
    <div id="logoheader">
        <img src="{%static '../static/img/Logo City Tour.png' %}" alt="logocitytour">
        <h1>City-Tour <br> Catamarca</h1>
    </div>
    <div id="abajoheader">
        <div id="perfilUsuario">
            <a href="{% url 'usuario:login' %}"> <img src="{% static 'img/usericon.svg' %}" alt=""></a>
        </div>
    </div>


    </header>
    {% block navigation %}
    {% endblock %}
    
    {% block content %}

    {% endblock %}

    <footer>
      <div id="abajafooter">
        <div id="logosfooter4">
          <img src="{% static 'img/catamarca_logo_turismo.png' %}" alt="" />
        </div>
        <div id="logosfooter1">
          <img src="{% static 'img/logoCatamarca.png' %}" alt="" />
        </div>
        <div id="logosfooter2">
          <img src="{% static 'img/SFVC-original-1024x351.png' %}" alt="" />
        </div>
        <div id="logosfooter3">
          <img src="{% static 'img/logo1_no_bg.png' %}" alt="logoCatamarca capitak" />
        </div>
      </div>
      <div id="derechosautor">
        <p>©copy 2025-CityTour Catamarca</p>
      </div>
    </footer>

    {% block js %}

    {% endblock %}

  </body>
</html>
