{%extends 'base.html'%}
{%load static%}

{%block title%}
    Reservas Crear - CityTur Catamarca
{%endblock%}

{%block head_css%}
    <link rel="stylesheet" href="{% static 'css/puntoTuristico.css' %}" />
    <link rel="stylesheet" href="{% static 'css/formularioAgregarRecorrido.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vistaPuntoTuristico.css' %}" />
{%endblock%}

{%block content%}
<main>
    <div id="" class="cosas_dentro_main">
        <div id="formularioAgregar">

        </div>
    </div>
</main>
{%endblock%}

{%block js%}

{%endblock%}