{%extends 'base.html'%}
{%load static%}

{%block title%}
    Reservas Crear - CityTur Catamarca
{%endblock%}

{%block head_css%}
    <link rel="stylesheet" href="{% static 'css/puntoTuristico.css' %}" />
    <link rel="stylesheet" href="{% static 'css/formularioAgregarRecorrido.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vistaPuntoTuristico.css' %}" />
{%endblock%}

{%block content%}
<main>
    <div id="" class="cosas_dentro_main">
      <div id="formularioAgregar">
        
        <form method="POST">
          <fieldset>
            
            {% csrf_token %}

            {% if reservas.instance.pk %}

                    <h2 class="titulo">Modificar Reserva</h2>

                {% else %}
                    <h2 class="titulo">Agregar Reserva</h2>
   
              {% endif %}

            <div class="acordeonGrupo">
                <input type="checkbox" id="acordeon-1" class="acordeonInput" />
                <!-- sin esto no funciona no tocar -->

                <label for="acordeon-1" class="acordeonLabel">
                    <div class="">{{ reservas.recorridoReserva.label }}</div>
                    <div class="acordeonFlecha">▼</div>
              </label>

              <div class="acordeonContenido">
                    <div class="checkboxItem">
                        {{ reservas.recorridoReserva.errors }}
                        {{ reservas.recorridoReserva. }}
                        <label for="{{ reservas.recorridoReserva.id_for_label }}" class="campoLabel">{{ reservas.recorridoReserva.label }}</label>
                    </div>
              </div>
            </div>


            <div class="contenedorLabelInput">
              {{ reservas.cantidadReserva.errors }}
              {{ reservas.cantidadReserva }}
              <label for="{{ reservas.cantidadReserva.id_for_label }}" class="campoLabel">{{ reservas.cantidadReserva.label }}</label>
            </div>

            <div class="contenedorLabelInput">
              {{ reservas.fechaReserva.errors }}
              {{ reservas.fechaReserva }}
              <label for="{{ reservas.fechaReserva.id_for_label }}" class="campoLabel">{{ reservas.fechaReserva.label }}</label>
            </div>
            
            <div class="contenedorLabelInput">
              {{ reservas.horaReserva.errors }}
              {{ reservas.horaReserva }}
              <label for="{{ reservas.horaReserva.id_for_label }}" class="campoLabel">{{ reservas.horaReserva.label }}</label>
            </div>

            <div class="contenedorLabelInput">
              {{ reservas.puntoDePartidaReserva.errors }}
              {{ reservas.puntoDePartidaReserva }}
              <label for="{{ reservas.puntoDePartidaReserva.id_for_label }}" class="campoLabel">{{ reservas.puntoDePartidaReserva.label }}</label>
            </div>

            <div class="contenedorLabelInput">
              {{ reservas.estadoReserva.errors }}
              {{ reservas.estadoReserva }}
              <label for="{{ reservas.estadoReserva.id_for_label }}" class="campoLabel">{{ reservas.estadoReserva.label }}</label>
            </div>


            <br>

            <div id="botones-formularios">
              <button type="submit" id="boton-aceptar" class="btnP btnModificarP">Aceptar</button>
              <a class="btnP btnEliminarP" href="{% url 'reservas:listarReservas' %}">Cancelar</a>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </main>

{%endblock%}

{%block js%}

{%endblock%}