@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

:root {
  --verdeAgua: #0c7968;
  --naranja: #e38e15;
  --amarilloFuerte:#fab701;
  --blancoCalido:#f1f1f1;
  --amarilloClarito:#ffcc3b;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: var(--naranja);
    font-family: "TASA Explorer", sans-serif;

    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

/*Aca empieza el header mi rey*/
header {
    background: var(--verdeAgua);
    /*background: linear-gradient(to top,var(--naranja)1%,var(--verdeAgua));*/

    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    color: var(--blancoCalido);
    padding: 0px 0px 10px 0px;
    align-items: center;
}


.displayflex{
    display: flex;
}


#logoheader{
    display: flex;
    align-items: center;
    gap: 15px;
}


#logoheader img{
    width: 120px;
    height: 120px;
}

h1{
    font-size: 220%;
    margin: 0;    
    font-family: "Story Script", sans-serif;
    text-shadow: 0px 5px 7px rgba(0,0,0,0.5);
}

#perfilUsuario button{
    color: black;
    background-color: none;
    border-radius:50% ;
    padding: 10px 14px;
    border: 3px solid transparent;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    font-weight: bold;
}

nav{
    margin-top: 10px;
    margin-right:10px;
    list-style: none;
    display: flex;
    justify-content: left;
    gap: 10px;
    padding: 0;
}

nav a{
    padding: 10px 10px;
    border-radius:20px;
    color: black;
    background: var(--blancoCalido);
    text-decoration: none;
    font-weight: bold;
    border: 3px solid transparent;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

nav a:hover, #perfilUsuario button:hover{
    background-color: var(--amarilloFuerte);
    padding: 10px 20px;
    border-radius:20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border: 3px solid transparent;
    transform: scale(1.03);
    transition: all 0.3s ease;
}

#perfilUsuario button:hover{
    padding: 10px 39px;
}

#abajoheader{
    justify-self: end;
    padding-right: 20px;
    display: flex;
    flex-direction:row;
    align-items: end;
    gap: 10px;
}

header.headerbloqueado {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
}
/*Aca empieza el body*/

main{
    flex: 1;
}

.cosas_dentro_main {
    background: var(--amarilloClarito);
    padding: 50px;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);

}

/*Aca termina el body*/


/*Aca empieza el footer*/
footer {
    background: #0c7968;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

#logosfooter1 img{
    width: 200px;
    height: 70px;
}

#logosfooter2 img{
    width: 200px;
    height: 70px;
}

#logosfooter3 img{
    width: 150px;
    height: 200px;
}

#logosfooter4 img{
    width: 180px;
    height: 90px;
}

#abajafooter{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 90px;
    flex-wrap: wrap;
}

#derechosautor{
    margin-top: 0px;
    text-align: center;
}

#derechosautor p{
    font-size: 20px;
    margin: 0;
}
/*Aca termina el footer*/


/* manejo de media */
/*celular*/
@media (max-width:767px) {
    header{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content:center;
    }

    footer{
        padding-top: 10px;
    }
    nav a:hover, #perfilUsuario button:hover{
    background-color: var(--amarilloFuerte);
    padding: 10px 20px;
    border-radius:20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border: 3px solid transparent;
    transform: scale(1.03);
    transition: all 0.3s ease;
}
}
/*tablet*/


@media (min-width:768px) and (max-width:1023px)
{
    header,nav  {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content:center;
    }

    footer{
        padding-top: 10px;
    }
    #logoheader{
        padding-right: 100px;
    }
    
    
}
/*pc*/
@media(min-width:1024px)
{
    .jc-between{
        justify-content: space-between;
    }

    #perfilUsuario button{

        margin: 0px 20px 0px 0px;  
    }

}