@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

:root {
  --verdeAgua: #0c7968;
  --naranja: #e38e15;
  --amarilloFuerte:#fab701;
  --blancoCalido:#f1f1f1;
  --amarilloClarito:#ffcc3b;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: var(--naranja);
    margin-top: 150px;
    font-family: "TASA Explorer", sans-serif;
}

/*Aca empieza el header mi rey*/
header {
    background: var(--verdeAgua);
    color: var(--blancoCalido);
    padding: 0px 0px 10px 0px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    align-items: center;

    position:fixed;
    width: 100%;
    top: 0;
}

.displayflex{
    display: flex;
}

.jc-between
{
    justify-content: space-between;
}

#logoheader{
    display: flex;
    align-items: center;
    gap: 1px;
}


#logoheader img{
    width: 120px;
    height: 120px;
}

h1{
    font-size: 220%;
    margin: 0;    
    font-family: "Story Script", sans-serif;
    text-shadow: 0px 5px 7px rgba(0,0,0,0.5);
}

#perfilUsuario button{
    color: black;
    background-color: none;
    border-radius:50% ;
    padding: 10px 14px;
    border: 3px solid transparent;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    font-weight: bold;
    margin: 0px 20px 0px 0px;  
}

nav{
    margin-top: 10px;
    margin-right:10px;
    list-style: none;
    display: flex;
    justify-content: left;
    gap: 10px;
    padding: 0;
}

nav a{
    padding: 10px 10px;
    border-radius:30px;
    color: black;
    background: var(--blancoCalido);
    text-decoration: none;
    font-weight: bold;
    border: 3px solid transparent;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

nav a:hover, #perfilUsuario button:hover{
    background-color: var(--amarilloFuerte);
    padding: 10px 20px;
    border-radius:20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border: 3px solid transparent;
    transform: scale(1.03);
    transition: all 0.3s ease;
}

#perfilUsuario button:hover{
    padding: 10px 39px;
}

#abajoheader{
    display: flex;
    flex-direction:row;
    align-items: flex-end;
    gap: 10px;
}

/*header tablet*/
#headertablet{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botontablet{
    position: relative;
    top:10px;
    right:10px;
}


/*header tablet final*/


/*Aca termina el header*/


/*Aca empieza el body*/
#cosas_dentro_main {
    background: var(--amarilloClarito);
    padding: 50px;
    margin: 20px auto;
    width: 80%;
    /*height: 680px;*/  /*esto lo saque porque rompe el body en las paginas largas*/
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}
/*Aca termina el body*/


/*Aca empieza el footer*/
footer {
    background: #0c7968;
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

#logosfooter1 img{
    width: 200px;
    height: 70px;
}

#logosfooter2 img{
    width: 200px;
    height: 70px;
}

#logosfooter3 img{
    width: 150px;
    height: 200px;
}

#logosfooter4 img{
    width: 180px;
    height: 90px;
}

#abajafooter{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 50px;
    height: 100px;
}

#derechosautor{
    margin-top: 15px;
    text-align: center;
}

#derechosautor p{
   font-size: 20px;
    margin: 0;
}
/*Aca termina el footer*/


/* manejo de media */
/*celular*/
@media (max-width:767px)
{
    .pc 
    {
        display: none;
    }
    .tablet
    {
        display: none;
    }
}
/*tablet*/
@media (min-width:768px) and (max-width:1023px)
{
    .pc 
    {
        display: none;
    }
    .celular
    {
        display: none;
    }

}
/*pc*/
@media(min-width:1024px)
{
    .tablet 
    {
        display: none;
    }
    .celular
    {
        display: none;
    }
}