@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

:root {
    --verdeAgua: #0c7968;
    --naranja: #e38e15;
    --amarilloFuerte: #fab701;
    --blancoCalido: #f1f1f1;
    --amarilloClarito: #ffcc3b;
}

.margentop250 {
    margin: 0px auto;
}

.margentop250 p {
    font-size: 30px;
}

/* --- Artículos --- */

/* Estilos compartidos por ambos artículos */
.article-titulo-imagen,
.article-parrafos {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.img_carpa  {
    border: 3px solid var(--verdeAgua);
    border-radius: 50%;
    background : var(--verdeAgua);
}

/* Estilos compartidos por los H2 */
.article-titulo-imagen h2,
.article-parrafos h2 {
    font-size: 50px;
    font-family: "Story Script", sans-serif;
    font-style: initial;
}

/* Estilos específicos para el H2 del primer artículo */
.article-titulo-imagen h2 {
    margin: 10px;
    font-weight: 700;
    text-align: center;
    
}

/* Estilos específicos para el H2 del segundo artículo */
.article-parrafos h2 {
    font-weight: 500;
    text-decoration: underline;
}

.article-parrafos-div img {
    width: 100%;
    border-radius: 500px;
    border: 5px solid var(--verdeAgua);
}

/* --- Ajustes de Margen --- */

.ajuste-margen {
    margin-top: 20px;
    margin-bottom: 50px;
}

em {
    color: var(--verdeAgua);
    text-decoration: underline;
}

/*celular*/
@media (max-width:767px) {
    .article-titulo-imagen,
    .article-parrafos {
        text-align: center;
    }
    
}

/*tablet*/
@media (min-width:768px) and (max-width:1023px)
{
    .article-titulo-imagen,
    .article-parrafos {
        text-align: center;
    }
    
}

/*pc*/
@media (min-width:1024px){
    .article-titulo-imagen,
    .article-parrafos {
        text-align: justify;
    }
}