.tituloforms
{
    background: none;
    font-weight:none;
    font-size: 150%;
    padding: 0px;
    border: none;
    color: white;    
    display: flex;
    justify-content: center;
}

.margentop150{
        margin-top: 10%;
        margin-bottom: 100%;
}

input[type="date"]:invalid {
    color: transparent;
}


input[type="date"]:valid {
    color: #000; 
}

