.tituloforms
{
    background: none;
    font-weight:none;
    font-size: 150%;
    padding: 0px;
    border: none;
    color: white;    
    display: flex;
    justify-content: center;
}

.margentop150{
        margin-top: 100px;
        margin-bottom: 100px;

}